################
#* Example environment variables for development setup
#  Copy this file to `.env` in the same directory and fill in or replace the values.
#  cp .local.dev.env.example .env
#  DO NOT ADD THE COPIED FILE TO VERSION CONTROL!
################

## Application

DATABASE_URL=postgresql://postgres:password@localhost:5432/timestamp
MODE=development

## Docker compose

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=timestamp
POSTGRES_PORT=5432
